@import '../../../styles.scss';

.ai-navbar {
    padding: 10px 10px 7px 10px;
}

.menu-icon {
    display: inline;
    position: absolute;
    top: 12px;
    i {
        font-weight: 700;
        color: black;
        font-size: 30px;
    }
}

.navbar-brand {
    padding-top: 0;
}

.ai-navbar-brand-heading1 {
    font-size: 14px;
    color: $brand-color;
    font-weight: $bold;
    padding-top: 0;
    padding-left: 45px;
    padding-right: 3px;
    display: inline
}

.ai-navbar-brand-heading2 {
    font-size: 14px;
    color: $link-color;
    @extend .left-border;
    display: inline;
    padding-left: 7px;
}


.ai-logo {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
}

.plan-list {
    display: inline-block;
    float: right;
    margin-right: 10px;
}