@import 'src/styles.scss';

.ai-plans-button {
    font-size: 14px;
    line-height: 1rem;
    text-align: left;
    padding: 0.4rem;
    box-shadow: none;

    &:hover {
        background-color: white;
    }

    &:after {
        content: none;
    }

    .dropdown-arrow {

        display: inline;
        @extend .left-border;
        margin-left: 5px;

        &::after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: .3em;
            vertical-align: middle;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-left: .3em solid transparent;
        }
    }

}

.dropdown-menu {
    font-size: 14px;
    padding: 0;
    margin: 0;

    .dropdown-item {
        padding: 5px;
    }
}