@import 'src/styles.scss';

.staffing-data {
    padding: 20px;
    max-height: 22rem;
    width: 800px;
}

.staffing-chart {
    background: white;
    margin: 20px;
    padding: 20px;
    max-height: 22rem;
    height: 22rem;
    width: 760px;
}