<nav class="ai-navbar">

  <div>
    <img class="ai-logo" src="/assets/ai-logo.png">
  </div>

  <a class="navbar-brand " href="#">
    <div class="menu-icon">
      <i class="material-icons">menu</i>
    </div>
    <div class="ai-navbar-brand-heading1">Mark Sales Planning</div>
    <div class="ai-navbar-brand-heading2">Discovery</div>
  </a>
  <ai-plan-list class="plan-list"></ai-plan-list>

</nav>

<div class="container-fluid">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>